In [1]:
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

   id             name      issued      expiry         dob        dept
0   1     Harvey Watts  04/19/2015  12/03/2047    9/4/1959          IT
1   2    Bertha Barnes  08/20/2020  09/14/2056   1/20/2000         CSE
2   3    Alan Sandoval  06/19/2016  01/13/2027  09/22/1970       CIVIL
3   4       John Bowen  08/19/2018  10/26/2039  09/23/1900  MECHANICAL
4   5  Ronnie Lawrence  12/06/2007  02/13/2042  11/06/1981          IT
5   6  Ricardo Edwards  12/25/2008  09/30/2048  05/18/1998        CSSE
6   7   Elizabeth Hunt  01/20/2001  11/14/2064  04/23/1955         CSE
7   8    Tommy Lambert  04/20/2004  01/27/2059  12/21/1969  MECHANICAL
8   9   James Richards  03/11/2006  02/06/2051  03/24/1968         CSE
9  10    Kenneth Logan  01/01/2011  05/18/2053  05/06/1983        CSSE

In [4]:
records = df.to_dict(orient='record')

In [5]:
font = ImageFont.truetype("Roboto-Black.ttf", size=40)
font2 = ImageFont.truetype("Roboto-Black.ttf", size=23)

In [6]:
def generate_card(data):
    template = Image.open('id.jpg')
    pic = Image.open(f"photos/{data['id']}.jpg").resize((242,242), Image.ANTIALIAS)
    template.paste(pic,(194,247,436,489))
    draw = ImageDraw.Draw(template)
    draw.text((175, 519), data['name'], font=font)
    draw.text((262, 665), data['issued'], font=font2, fill='black')
    draw.text((262, 738), data['expiry'], font=font2, fill='black')
    draw.text((262, 813), data['dob'], font=font2, fill='black')
    draw.text((262, 888), data['dept'], font=font2, fill='black')
    return template

In [7]:
for record in records:
    card = generate_card(record)
    card.save(f"cards/{record['id']}.jpg")